In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [3]:
## load the dataset
data = pd.read_csv('Churn_Modelling.csv')
data.head(5)

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [4]:
## preprocess the data
## drop irrelevant features
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [5]:
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [6]:
## Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [7]:
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0
2          502    France       0  ...               0        113931.57       1
3          699    France       0  ...               0         93826.63       0
4          850     Spain       0  ...               1         79084.10       0

[5 rows x 11 columns]

In [10]:
## one hot encode the Geography column
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder()

geo_encoded_vals = onehot_encoder_geo.fit_transform(data[['Geography']])

In [11]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [13]:
geo_encoded_df = pd.DataFrame(geo_encoded_vals.toarray(), columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [14]:
geo_encoded_df.head(10)

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0
5               0.0                0.0              1.0
6               1.0                0.0              0.0
7               0.0                1.0              0.0
8               1.0                0.0              0.0
9               1.0                0.0              0.0

In [15]:
## combine all the columns
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)

In [16]:
data.head(10)

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0
5          645       1  ...                0.0              1.0
6          822       1  ...                0.0              0.0
7          376       0  ...                1.0              0.0
8          501       1  ...                0.0              0.0
9          684       1  ...                0.0              0.0

[10 rows x 13 columns]

In [17]:
## save the encoders and scaler 
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('label_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

In [18]:
## divide the dataset into independent and dependent features
X = data.drop('Exited', axis=1)
y = data['Exited']

## Split the data in training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Scale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [19]:
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

ANN Implementation

In [21]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [22]:
## build ANN model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),     ## Hidden Layer 1 - connected with input layer
    Dense(32, activation='relu'), ## Hidden Layer 2
    Dense(1, activation='sigmoid') ## output layer
])

/Users/vikas/Projects/GenAI/venv/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [24]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [25]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss = tensorflow.keras.losses.BinaryCrossentropy()
loss

In [26]:
## compile model
model.compile(optimizer=opt, loss='binary_crossentropy', metrics=['accuracy'])

In [29]:
## setup the tensorboard to get training logs
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [32]:
## setup early stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [33]:
## Train the model
history = model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=100,
    callbacks=[tensorflow_callback, early_stopping_callback]                    
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 700us/step - accuracy: 0.8573 - loss: 0.3401 - val_accuracy: 0.8595 - val_loss: 0.3462
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 619us/step - accuracy: 0.8631 - loss: 0.3364 - val_accuracy: 0.8635 - val_loss: 0.3407
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 639us/step - accuracy: 0.8667 - loss: 0.3353 - val_accuracy: 0.8565 - val_loss: 0.3509
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 621us/step - accuracy: 0.8664 - loss: 0.3293 - val_accuracy: 0.8590 - val_loss: 0.3512
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 615us/step - accuracy: 0.8617 - loss: 0.3351 - val_accuracy: 0.8615 - val_loss: 0.3523
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 616us/step - accuracy: 0.8674 - loss: 0.3252 - val_accuracy: 0.8565 - val_loss: 0.3471
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 665us/step - accuracy: 0.8690 - loss: 0.3289 - val_accuracy: 0.8590 - val_loss: 0.3422
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 659us/step - accuracy: 0.8701 - loss: 0.3243 - val_accuracy: 0.8590 - val_loss: 0.3462
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 650us/step - accuracy: 0.8619 - loss: 0.3303 - val_accuracy: 0.8610 - val_loss: 0.3422
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 636us/step - accuracy: 0.8660 - loss: 0.3227 - val_accuracy: 0.8535 - val_loss: 0.3579
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 613us/step - accuracy: 0.8553 - loss: 0.3305 - val_accuracy: 0.8595 - val_loss: 0.3526
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 639us/step - accuracy: 0.8691 - loss: 0.3122 - val_accuracy: 0.8510 - val_loss: 0.3735

In [34]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [5]:
## Load tensorboard extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [6]:
%tensorboard --logdir logs/fit20250126-112056/train/

Reusing TensorBoard on port 6007 (pid 30460), started 0:00:07 ago. (Use '!kill 30460' to kill it.)

In [ ]:
##load the pickle file for predictions